import React from 'react';

interface <%= componentName %>Props {
  message: string;
  className?: string;
}

const <%= componentName %>: React.FC<<%= componentName %>Props> = ({ message, className }) => {
  return (
    <div className="<%= className %>">
      <h1>{message}</h1>
    </div>
  );
};

export default <%= componentName %>;
